<nav class="navbar navbar-expand-lg custom-nav">
    <div class="navbar-brand nav-head">Nomadic Matt Travel Scraper</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="#">Saved Articles<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Saved Articles</h1>

    {{#each articles}}
        {{#if saved}}
        {{!-- Article start --}}
        <div class="all-articles text-center">
            <h3>{{this.title}}</h3>
            <a href="{{this.link}}" target="_blank">View Article</a>
            <img src={{this.image}}>
        </div>    

            {{!-- leave a comment, delete a comment, show comments --}}
            <form>
                <input type="hidden" name="id">
                <div class="form-group">
                    <label for="comment">Comments</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                     <button class="btn btn-primary float-right comment-btn" data-id="{{this.id}}">Submit comment</button>
                </div>
            </form>
            <br><br>

            {{!-- Prints Comments associated with article --}}
            <h4>Previous Comments</h4>
            <hr>
            {{#if comment }}
                {{#each comment }}
                <p>{{this.commentText}}</p>
                <button class="btn btn-light delete-comment float-right" data-id="{{this.id}}">Delete this comment</button>
                <br>
                <hr>
                <br>
                {{/each}}
                {{else}}
                <p>No comments added yet. </p>
            {{/if}}

        {{/if}}
    {{/each}}

    {{#unless articles.length}}
    <h3>No saved articles</h3>
    {{/unless}}

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>