    
{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg custom-nav">
    <div class="navbar-brand nav-head">Nomadic Matt Travel Scraper</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="#">Saved Articles<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
{{!-- Navbar end --}}

{{!-- Main container start --}}
<div class="container">
    <h1>Saved Articles</h1>
    
<div class="row mt-5">

    {{#each articles}}
        {{#if saved}}

    <div class="col-md-4">
        {{!-- Saved Article start --}}
        <div class="card all-articles text-center" data-id="{{this.id}}">
            <div class="card-header">
                <h3>{{this.title}}</h3>
            </div>
            <div class="card-body">
                <img src={{this.image}} class="saved-card-img">
                <div class="view-save justify-content-center mt-3">
                    <a class="view" href="{{this.link}}" target="_blank">View Article</a>
                </div>
            </div>
        </div>
    </div>  

        {{!-- Saved articles end --}}

        {{!-- Comment Form --}}
        <div class="col-md-8">
        <div class="card">
            <form class="mb-3" action="/comment" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <div class="form-group">
                    <div class="card-header text-center">
                    <h4><label for="comment">Comments</label></h4>
                    </div>
                    <textarea class="form-control" name="comment" id="comment"  rows="3"></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary comment-btn" data-id="{{this.id}}">Submit Comment</button>
                </div>
            </form>
        </div>
            {{!-- Comment form end --}}
    
        {{!-- Prints previous comments --}}
        {{#if comment}}
            <div class="card text-center mt-5">
            <div class="card-header">
                <h4>Previous Comments</h4>
            </div>
                <hr class="divider my-0">
                <div class="card-body">
                    {{#each comment}}
                        <div class="card-text">
                            <span>{{this.commentText}}</span>
                            <span class="p-5"><a class="delete-comment-btn" href="" data-id="{{this._id}}">
                                <img src="/images/trash-icon.png" alt="trash-icon" height="3%" width="3%"></a></span>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
</div>
<br><br>
    {{/if}}
        {{!-- Previous comments end --}}

        {{/if}}
    {{/each}}

    {{!-- If there are no articles  --}}
    {{#unless articles.length}}
        <h1>No saved articles</h1>
    {{/unless}}
  
</div>

{{!-- Scripts --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>